<div class="user-story-card">
	<div class="button-panel">
		<div class="button-panel-left">
			<button class="btn btn-default">Cancel</button>
		</div>
		<div class="button-panel-right">
			<button class="btn btn-success">Save</button>
			<button class="btn btn-danger">Delete</button>
		</div>
	</div>

	<div class="field">
		<div class="label-ec col-1">As a</div>
		<div class="textfield col-9">
			<input type="text" />
		</div>
	</div>
	<div class="field">
		<div class="label-ec col-1">I want</div>
		<div class="textfield col-9">
			<textarea></textarea>
		</div>
	</div>
	<div class="field">
		<div class="label-ec col-1">so that</div>
		<div class="textfield col-9">
			<textarea></textarea>
		</div>
	</div>

	<div class="user-acceptance-panel">
		<div class="header-panel">
			<div class="title">User Acceptances</div>
			<a href="" class="button" ><span class="fui-plus"></span></a>
		</div>

		<ul class="user-acceptance-list">
			<li class="list-item">
				<div class="textfield">
					<input type="text" value="A" />
				</div>
				<div class="item-button-panel">
					<a href=""><span class="fui-windows"></span></a> 
					<a href=""><span class="fui-trash"></span></a>
				</div>
			</li>
			<li class="list-item">
				<div class="textfield">
					<input type="text" value="B" />
				</div>
				<div class="item-button-panel">
					<a href=""><span class="fui-windows"></span></a> 
					<a href=""><span class="fui-trash"></span></a>
				</div>
			</li>
		</ul>
	</div>
</div>