<div class="user-story-card">
	<div class="button-panel">
		<div class="button-panel-left">
			<button class="btn">Cancel</button>
		</div>
		<div class="button-panel-right">
			<button class="btn">Save</button>
			<button class="btn">Delete</button>
		</div>
	</div>

	<div class="field">
		<div class="label">As a</div>
		<div class="textfield">
			<input type="text" />
		</div>
	</div>
	<div class="field">
		<div class="label">I want</div>
		<div class="textfield">
			<textarea></textarea>
		</div>
	</div>
	<div class="field">
		<div class="label">so that</div>
		<div class="textfield">
			<textarea></textarea>
		</div>
	</div>

	<div class="user-acceptance-panel">
		<div class="header-panel">
			<div class="title">User Acceptances</div>
			<a href="" class="button" ><span>AppPage Icon</span></a>
		</div>

		<ul class="user-acceptance-list">
			<li class="list-item">
				<div class="textfield">
					<input type="text" value="A" />
				</div>
				<div class="item-button-panel">
					<a href=""><span>AppPage Icon</span></a> 
					<a href=""><span>Delete Icon</span></a>
				</div>
			</li>
			<li class="list-item">
				<div class="textfield">
					<input type="text" value="B" />
				</div>
				<div class="item-button-panel">
					<a href=""><span>AppPage Icon</span></a> 
					<a href=""><span>Delete Icon</span></a>
				</div>
			</li>
		</ul>
	</div>
</div>