<div class="user-story-card">
	<div class="button-panel">
		<button>Cancel</button>
		<button>Save</button>
		<button>Delete</button>
	</div>

	<div class="field">
		<div class="label">As a</div>
		<input type="text" />
	</div>
	<div class="field">
		<div class="label">I want</div>
		<textarea></textarea>
	</div>
	<div class="field">
		<div class="label">so that</div>
		<textarea></textarea>
	</div>

	<div class="user-acceptance-panel">
		<div class="label">User Acceptances</div>
		<a href=""><span>AppPage Icon</span></a>
		<ul>
			<li><input type="text" value="A" />
				<a href=""><span>AppPage Icon</span></a> <a href=""><span>Delete Icon</span></a></li>
			<li><input type="text" value="B" />
				<a href=""><span>AppPage Icon</span></a> <a href=""><span>Delete Icon</span></a></li>
		</ul>
	</div>
</div>