html, body {
	height: 100%;
	margin: 0;
	/*background-color: #E5E5E5;*/
	font-family: 'RobotoDraft', sans-serif;
}

@media (min-width: 768px) {
	.user-story-card {
		max-width: 65%;
		padding: 20px;
		border: 1px solid #9a9a9a;
		border-radius: 4px;
		margin: 50px auto;
		
	}
}

.button-panel {
	padding-top: 8px;
	padding-bottom: 8px;	
	margin-bottom: 20px;
	min-height: 34px;
}

.button-panel .button-panel-left {
	float: left !important;
	vertical-align: middle;

}

.button-panel .button-panel-right {
	float: right !important;
}

.btn {
	line-height: 1.42857143;
	padding: 6px 12px;
	display: inline-block;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.field {
	width: 100%;
	display: table;
	padding: 6px 12px;
}
.field .label {
	display: block;
	float: left;
	width: 8.33333333%;
}

.field .textfield {
	display: block;
	float: left;
	width: 91.33333333%;
}

input {
	border-radius: 4px;
}

.textfield input {
	display: block;
	width: 100%;
	margin: 0;
	padding: 6px 12px;
	box-sizing: border-box;
}

.field textarea {
	display: block;
	width: 100%;
	margin: 0;
	padding: 6px 12px;
	box-sizing: border-box;
}

.user-acceptance-panel {

}

.user-acceptance-panel .header-panel {
	min-height: 26px;
	padding-top: 16px;
}

.user-acceptance-panel .title {
	font-size: 1.4em;
	display: block;
	float: left;
}

.user-acceptance-panel .button {
	display: block;
	float: right;
}

.user-acceptance-list {
	padding-left: 0;
}

.list-item {
	display: block;
	padding: 5px 12px;
	/*border: 1px solid #9a9a9a;*/
	margin-bottom: -1px;
}

.list-item > .item-button-panel {
	display: inline-block;
	height: 31px;
	width: 23%;
	vertical-align: middle;
	height: 100%;
}

.list-item > .textfield {
	display: inline-block;
	width: 76%;
}
